@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/MONTSERRAT-REGULAR.TTF);
}

@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/MONTSERRAT-BOLD.TTF);
}

  .mini-h1{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat-Black';
    color: white;

  }

  .mini-h2{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat-Black';
    color: white;
    line-height: normal;
  }

  .mini-p{
    font-size: 10px;
    font-family: 'Montserrat-Black';
    color: white;
  }

 .grid{
    display: grid;
    grid-auto-columns: 50px;
}

.content {
  padding: 16px;
  height: auto;
}

.content > mat-card {
  width: auto;
  height: auto;
}

.card{

  width: auto;
  background-color: #834fdd;
  background-image:
    linear-gradient(#834fdd, #5c24bb);
  padding: 2em;
  justify-content: center;
  margin: auto;
}

@media screen and (min-width: 40em) {
  .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .card {
      flex: 0 1 calc(25% - 1em);
  }
}

.center{
  align-items: center;
  justify-content: center;
}

.padding{
  margin: 0;
  padding: 0;
}
