<div>
  <br>
  <h3 class="margin">RECHERCHER</h3>
  <br>

  <form>

    <!-- DESTINATION -->

    <mat-form-field appearance="fill" class="margin form">
      <mat-label>Destination</mat-label>
      <input type=text matInput [matAutocomplete]="CompleteDestination" #valideDestination="ngModel" [(ngModel)]="formulaire.destination" (ngModelChange)="changeDestination($event)" placeholder="Ex.: Angleterre" name="ctrlDestination" id="ctrlDestination" required>
      <mat-autocomplete #CompleteDestination="matAutocomplete">
        <mat-option value="Angleterre">Angleterre</mat-option>
        <mat-option value="Espagne">Espagne</mat-option>
        <mat-option value="Portugal">Portugal</mat-option>
      </mat-autocomplete>

      <mat-error *ngIf="valideDestination.hasError('required')">
        Le champ est <strong>obligatoire</strong>
      </mat-error>

    </mat-form-field>

    <br>
    <!-- VILLE DE DÉPART -->

    <mat-form-field appearance="fill" class="margin form">
      <mat-label>Départ</mat-label>
      <input type=text matInput [matAutocomplete]="CompleteDepart" #valideDepart="ngModel" [(ngModel)]="formulaire.villeDepart" (ngModelChange)="changeDepart($event)" placeholder="Ex.: Montréal" name="ctrlDepart" id="ctrlDepart" required>
      <mat-autocomplete #CompleteDepart="matAutocomplete">
        <mat-option value="Montréal">Montréal</mat-option>
        <mat-option value="Québec">Québec</mat-option>
        <mat-option value="Ontario">Ontario</mat-option>
      </mat-autocomplete>

      <mat-error *ngIf="valideDepart.hasError('required')">
        Le champ est <strong>obligatoire</strong>
      </mat-error>

    </mat-form-field>

    <br>
    <!-- NOM DE L'HÔTEL -->

    <mat-form-field appearance="fill" class="margin form">
      <mat-label>Hôtel</mat-label>
      <input type=text matInput [matAutocomplete]="hotel" #valideHotel="ngModel" [(ngModel)]="formulaire.hotel" (ngModelChange)="changeHotel($event)" placeholder="Ex.: Hôtel 1" name="ctrlHotel" id="ctrlHotel" required>
      <mat-autocomplete #hotel="matAutocomplete">
        <mat-option value="Hôtel 1">Hôtel 1</mat-option>
        <mat-option value="Hôtel 2">Hôtel 2</mat-option>
        <mat-option value="Hôtel 3">Hôtel 3</mat-option>
      </mat-autocomplete>

      <mat-error *ngIf="valideHotel.hasError('required')">
        Le champ est <strong>obligatoire</strong>
      </mat-error>

    </mat-form-field>

    <!-- COORDONNEES -->
    <br>

    <mat-form-field appearance="fill" class="margin form">
      <mat-label>Coordonnées</mat-label>
      <input type=text matInput [matAutocomplete]="coordonnees" #valideCoordonnee="ngModel" [(ngModel)]="formulaire.coordonnee"(ngModelChange)="changeCoordonnee($event)" placeholder="Ex.: Adresse 1" name="ctrlCoordonnees" id="ctrlCoordonnees" required>
      <mat-autocomplete #coordonnees="matAutocomplete">
        <mat-option value="Adresse 1">Adresse 1</mat-option>
        <mat-option value="Adresse 2">Adresse 2</mat-option>
        <mat-option value="Adresse 3">Adresse 3</mat-option>
      </mat-autocomplete>

      <mat-error *ngIf="valideCoordonnee.hasError('required')">
        Le champ est <strong>obligatoire</strong>
      </mat-error>

    </mat-form-field>

    <!-- ÉTOILES -->
    <br>

    <mat-slider class="margin" thumbLabel tickInterval="1" min="1" max="5" [(ngModel)]="formulaire.nombreEtoiles" (ngModelChange)="changeEtoile($event)" required></mat-slider>

    <!-- CHAMBRES -->
    <br>

    <mat-form-field appearance="fill" class="margin form">

      <mat-label>Nombre de chambres</mat-label>
      <input type="number" min="1" matInput placeholder="Ex.: 1" [(ngModel)]="formulaire.nombreChambres" (ngModelChange)="changeNbrChambre($event)" name="ctrlChambres" id="ctrlChambres" value="1" required>

    </mat-form-field>


    <!-- OPTIONS -->
    <br>

    <h3 class="margin form">Options</h3>
    <section required>
      <mat-checkbox class="margin" value="proximiteParc"><p class="margin">Proximité d'un espace vert</p></mat-checkbox><br>
      <mat-checkbox class="margin" value="facePlage"><p class="margin">Face à la plage</p></mat-checkbox><br>
      <mat-checkbox class="margin" value="mariage"><p class="margin">Mariage</p></mat-checkbox><br>
      <mat-checkbox class="margin" value="ascenceur"><p class="margin">Ascenceur</p></mat-checkbox><br>
      <mat-checkbox class="margin" value="miniclub"><p class="margin">Miniclub</p></mat-checkbox><br>
      <mat-checkbox class="margin" value="accesPlage"><p class="margin">Accès à la plage</p></mat-checkbox><br>
      <mat-checkbox class="margin" value="dejeuner"><p class="margin">Déjeuner inclu</p></mat-checkbox><br>
      <mat-checkbox class="margin" value="boutique"><p class="margin">Boutique cadeau</p></mat-checkbox><br>
      <mat-checkbox class="margin" value="buandrie"><p class="margin">Buandrie</p></mat-checkbox><br>
      <mat-checkbox class="margin" value="centreCongres"><p class="margin">Centre des congrès</p></mat-checkbox><br>
      <mat-checkbox class="margin" value="spa"><p class="margin">Spa</p></mat-checkbox><br>
      <mat-checkbox class="margin" value="centreConditionnement"><p class="margin">Centre de conditionnement</p></mat-checkbox><br>
    </section>

    <!-- DATE DÉPART -->
    <br>

    <!------------------------------------------------------------------------------>
    <!-- LES DATES PICKER SEMBLENT EMPÊCHER LE CONTENU D'AFFICHER CORRECTEMEMT ------
    <--- AU LANCEMENT DU PROJET. CLIQUER SUR LE MENU RAMÈNE LE CONTENU (??) ---------
    <--- LES MAT_ERROR FONT PLANTER L'APPLICATION (??) ------------------------------
    <------------------------------------------------------------------------------->


    <mat-form-field color="accent" appearance="fill" class="margin form">
      <mat-label>Date de départ</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="formulaire.dateDepart" #valideDateDepart="ngModel" (ngModelChange)="changeDateDepart($event)" required>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 color="primary"></mat-datepicker>

      <!-- <mat-error *ngIf="valideDateDepart.hasError('required')">
        Le champ est <strong>obligatoire</strong>
      </mat-error> -->

    </mat-form-field>

    <!-- DATE RETOUR -->
    <br>

    <mat-form-field color="accent" appearance="fill" class="margin form">
      <mat-label>Date de retour</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="formulaire.dateRetour" (ngModelChange)="changeDateRetour($event)" required>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 color="primary"></mat-datepicker>

      <!-- <mat-error *ngIf="valideDateRetour.hasError('required')">
      Le champ est <strong>obligatoire</strong>
    </mat-error>  -->
    </mat-form-field>

    <!-- PRIX -->
    <br>

    <mat-form-field appearance="fill" required class="margin form" >
      <mat-label>Prix</mat-label>
      <input matInput type="number" min='0' [(ngModel)]="formulaire.prix" (ngModelChange)="changePrix($event)" #validePrix="ngModel" required>

      <mat-error *ngIf="validePrix.hasError('required')">
        Le champ est <strong>obligatoire</strong>
      </mat-error>

    </mat-form-field>

    <section class="margin form">
      <div class="">
        <button mat-raised-button color="primary">Filtrer</button>
      </div>
    </section>

  </form>
