mat-drawer-content {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.espace{
  margin:1em;

  }

  mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}

.nopadding{
  padding: 0px;
  margin: 0px;
}

.center{
  display: block;
  margin: auto;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.color-footer{
  background-image:
    linear-gradient(#0f0f0f, #141414);
  box-shadow:
    inset .05em .05em 0 #834fdd,
    inset 0 -.05em 0 #834fdd;
}

.white {
  color: #cccccc;
}
