<div class="row center">
  <div class="col-6 col-sm-12 col-xs-12">

<!--    <div class="center pt-3 pb-3" *ngFor="let item of forfaits">-->
<!--      <app-graphique-prix [formulaire]="formulaire" [forfait]="item"></app-graphique-prix>-->
      <app-graphique-prix></app-graphique-prix>
<!--    </div>-->

  </div>
  <div class="col-6 col-sm-12 col-xs-12">
<!--    <div class="center pt-3 pb-3" *ngFor="let item of forfaits">-->
<!--      <app-graphique-destination [formulaire]="formulaire" [forfait]="item"></app-graphique-destination>-->
<!--    </div>-->
    <app-graphique-destination></app-graphique-destination>
  </div>
</div>

