<div class="containerFormRecherche">
  <h3 class="m-2 p-2">RECHERCHER</h3>

  <!-- DESTINATION -->

  <mat-form-field appearance="fill" class="margin form">
    <mat-label>Destination</mat-label>
    <input type=text matInput [matAutocomplete]="CompleteDestination" #valideDestination="ngModel" [(ngModel)]="recherche.destination" (ngModelChange)="changeDestination($event)" placeholder="Ex.: Angleterre" name="ctrlDestination" id="ctrlDestination" required>
    <mat-autocomplete #CompleteDestination="matAutocomplete">
      <mat-option value="Angleterre">Angleterre</mat-option>
      <mat-option value="Espagne">Espagne</mat-option>
      <mat-option value="Portugal">Portugal</mat-option>
    </mat-autocomplete>

    <mat-error *ngIf="valideDestination.hasError('required')">
      Le champ est <strong>obligatoire</strong>
    </mat-error>

  </mat-form-field>
  <br>
  <!-- VILLE DE DÉPART -->

  <mat-form-field appearance="fill" class="margin form">
    <mat-label>Départ</mat-label>
    <input type=text matInput [matAutocomplete]="CompleteDepart" #valideDepart="ngModel" [(ngModel)]="recherche.villeDepart" (ngModelChange)="changeDepart($event)" placeholder="Ex.: Montréal" name="ctrlDepart" id="ctrlDepart" required>
    <mat-autocomplete #CompleteDepart="matAutocomplete">
      <mat-option value="Montréal">Montréal</mat-option>
      <mat-option value="Québec">Québec</mat-option>
      <mat-option value="Ontario">Ontario</mat-option>
    </mat-autocomplete>

    <mat-error *ngIf="valideDepart.hasError('required')">
      Le champ est <strong>obligatoire</strong>
    </mat-error>

  </mat-form-field>

  <br>

  <!-- DATE DE DÉPART -->

  <mat-form-field appearance="fill">
    <mat-label>Date de départ</mat-label>
    <input matInput [matDatepicker]="pickerDepart" [(ngModel)]="recherche.dateDepart" (ngModelChange)="changeDateDepart($event)">
    <mat-datepicker-toggle matSuffix [for]="pickerDepart"></mat-datepicker-toggle>
    <mat-datepicker #pickerDepart></mat-datepicker>
  </mat-form-field>
  <br>
  <!-- DATE DE RETOUR -->

  <mat-form-field appearance="fill">
    <mat-label>Date de retour</mat-label>
    <input matInput [matDatepicker]="pickerRetour" [(ngModel)]="recherche.dateRetour" (ngModelChange)="changeDateRetour($event)">
    <mat-datepicker-toggle matSuffix [for]="pickerRetour"></mat-datepicker-toggle>
    <mat-datepicker #pickerRetour></mat-datepicker>
  </mat-form-field>
  <br>
<!--  <app-caracteristiques [direction]="direction" [(caract)]="recherche.caracteristiques"></app-caracteristiques>-->
  <br>
  <mat-label class="ml-2 pl-2">Nombre d'étoiles</mat-label><br>
  <mat-slider class="margin" thumbLabel tickInterval="1" min="1" max="5" [(ngModel)]="recherche.nombreEtoiles" (ngModelChange)="changeEtoiles($event)" required></mat-slider>

  </div>
