@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/MONTSERRAT-REGULAR.TTF);
}

@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/MONTSERRAT-BOLD.TTF);
}

h1{
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Montserrat-Black';
  color: white;

}

h2{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat-Black';
  color: white;
  line-height: normal;
}

p{
  font-size: 0.8rem;
  font-family: 'Montserrat-Black';
  color: white;
}


.card{
  background-color: #834fdd;
  background-image:
    linear-gradient(#834fdd, #5c24bb);
  justify-content: center;
  width: auto;
  height: 100%;
  padding: 2em;
  margin: 1em;
  justify-content: center;

}


.barre{
  text-decoration: line-through;
  color: rgb(30, 0, 65);
  font-weight: bold;
  font-size: 2rem;
}

.rabais{
  color: #ffad87;
  font-weight: bold;
}

.paddingEtoiles{
  padding: 0.2rem;
}

.image-vedette{
  filter: drop-shadow(0.1rem 0rem 0.2rem rgba(30, 0, 65, 0.5));
}

.bgimg{
  background-image: url("../../assets/img/airem-logo.svg");
  display: flex;
  height: 25%;
  float: left;
}

.logo{
  height: 25%;
  float: left;
}
