.card{
    background-color: rgb(223, 226, 230);
  }

.content { 
  padding: 16px; 
  width: 100%;
}

.content > mat-card { 
  width: 100%; 
  height: auto;
}

.center{
  align-items: center;
  justify-content: center;
  padding: auto;
  margin: auto;
}

.photo{
  width: 100%;
  height: auto;
}

h1{
  font-family: "Montserrat-Black";
  font-size: 2em;
  line-height: 1em;
  color: rgb(39, 10, 92);
  padding: auto;
  margin: 1em;
  align-items: center;

}
h2{
  font-family: "Montserrat-Black";
  font-size: 17px;
  line-height: normal;
  color: rgb(39, 10, 92);
  margin: 1em;

}
h3{
  font-family: "Montserrat";
  font-size: 16px;
  color: rgb(65, 32, 128);
}
p{
  font-family: "Montserrat";
  font-size: 14px;
  color: rgb(9, 6, 15);

}

.barre{
  text-decoration: line-through;
  color: #f20b34;
  font-weight: bold;
}

.rabais{
  color: #256911;
  font-weight: bold;
}

.paddingEtoiles{
  padding: auto;
}
.space{
justify-content: space-between;
}