<div class="">
  <img src="../../assets/img/espagne.jpg" alt="image Espagne" class="image">
  <div class="row">
    <div class="col-8 offset-2 col-md-10 offset-md-1 col-sm-12 col-xs-12">
      <h1 class="pt-5 mt-5 center-text">À propos</h1><br>
      <p class="pb-5 mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere eligendi accusamus cum consequatur voluptate
        voluptatem excepturi quaerat fugiat ea vitae dolorem maiores ut, doloribus quis nostrum libero quam suscipit
        cupiditate aliquam totam quos. Aliquid hic at architecto ipsam cum voluptatum quos. Ipsa excepturi qui ullam
        ad quos dignissimos, iusto pariatur asperiores sint iure dolor quod inventore saepe laudantium voluptatum repellat
        dolores enim corrupti a. Vel commodi nisi quisquam voluptates dignissimos rerum, temporibus itaque nemo.</p>

      <h2 class=" center-text">Notre histoire</h2><br>
      <p class="pb-5 mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere eligendi accusamus cum consequatur voluptate
        voluptatem excepturi quaerat fugiat ea vitae dolorem maiores ut, doloribus quis nostrum libero quam suscipit
        cupiditate aliquam totam quos. Aliquid hic at architecto ipsam cum voluptatum quos.
        Vel commodi nisi quisquam voluptates dignissimos rerum, temporibus itaque nemo,
        aperiam sit at autem quod fugit?  </p>

      <h2 class=" center-text">L'équipe</h2><br>
      <p class="pb-5 mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere eligendi accusamus cum consequatur voluptate
        voluptatem excepturi quaerat fugiat ea vitae dolorem maiores ut, doloribus quis nostrum libero quam suscipit
        cupiditate aliquam totam quos. Aliquid hic at architecto ipsam cum voluptatum quos. Ipsa excepturi qui ullam
        ad quos dignissimos, iusto pariatur asperiores sint iure dolor quod inventore saepe laudantium voluptatum repellat
        dolores enim corrupti a. </p>

    </div>
  </div>

</div>


