<th routerLink='/tableau-bord'><span class="pl-5"><a>TABLEAU DE BORD</a></span></th>


<h1 class="center p-2 m-2 ">LISTE DES FORFAITS</h1>

<section class="margin form p-2 m-2">
  <div class="pb-4">
    <button matSuffix type="submit" mat-raised-button color="primary" (click)="openDialogNewForfait()"><i class="material-icons">add</i>Ajouter Forfait</button>
  </div>
  <form #forfaitFormEdition="ngForm" id="forfaitFormDestinationEdition" (ngSubmit)="forfaitFormEdition.form.valid && onEdit(forfaitFormEdition)" name="selectedForfaitDestination">
<table class="pb-5 mb-5" mat-table #tableForfaits [dataSource]="mesForfaits" >
<!--DESTINATION-->
  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef> Destination </th>
    <td mat-cell *matCellDef="let forfait">
<!--      <form #forfaitFormEdition="ngForm" id="forfaitFormDestinationEdition" (ngSubmit)="forfaitFormEdition.form.valid && onEdit(forfaitFormEdition)" name="selectedForfaitDestination">-->
        <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editForfait;" class="input-full-width">
          <input name="selectedForfaitDestination" [(ngModel)]="selectedForfait.destination" matInput required minlength="2" maxlength="50" #nomEdition="ngModel">
          <mat-error *ngIf="forfaitFormEdition.invalid && (forfaitFormEdition.dirty || forfaitFormEdition.touched) && forfaitFormEdition.hasError('required')">La destination est obligatoire.</mat-error>
          <mat-error *ngIf="forfaitFormEdition.invalid && (forfaitFormEdition.dirty || forfaitFormEdition.touched) && forfaitFormEdition.hasError('minlength')">La destination doit contenir au moins 2 caractères.</mat-error>
          <mat-error *ngIf="forfaitFormEdition.invalid && (forfaitFormEdition.dirty || forfaitFormEdition.touched) && forfaitFormEdition.hasError('maxlength')">La destination doit contenir au maximum 50 caractères.</mat-error>
        </mat-form-field>
<!--      </form>-->
      <ng-template #editForfait><span (click)="onSelect(forfait)">{{forfait.destination}}</span></ng-template>

    </td>
  </ng-container>
  <!--VILLE DEPART-->
  <ng-container matColumnDef="villeDepart">
    <th mat-header-cell *matHeaderCellDef> Départ </th>
    <td mat-cell *matCellDef="let forfait">
<!--      <form #forfaitFormEdition="ngForm" id="forfaitFormVilleDepartEdition" (ngSubmit)="forfaitFormEdition.form.valid && onEdit(forfaitFormEdition)" name="selectedForfaitDestination">-->
      <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editForfait;" class="input-full-width">
        <input type=text name="selectedForfaitDestination" [(ngModel)]="selectedForfait.villeDepart" matInput required minlength="2" maxlength="50"  #nomEdition="ngModel">
        <mat-error *ngIf="forfaitFormEdition.invalid && (forfaitFormEdition.dirty || forfaitFormEdition.touched) && forfaitFormEdition.hasError('required')">La ville de départ est obligatoire.</mat-error>
        <mat-error *ngIf="forfaitFormEdition.invalid && (forfaitFormEdition.dirty || forfaitFormEdition.touched) && forfaitFormEdition.hasError('minlength')">La ville de départ doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="forfaitFormEdition.invalid && (forfaitFormEdition.dirty || forfaitFormEdition.touched) && forfaitFormEdition.hasError('maxlength')">La ville de départ doit contenir au maximum 50 caractères.</mat-error>
      </mat-form-field>
<!--    </form>-->
      <ng-template #editForfait><span (click)="onSelect(forfait)">{{forfait.villeDepart}}</span></ng-template></td>
  </ng-container>

  <!--DATE DEPART-->
  <ng-container matColumnDef="dateDepart">
    <th mat-header-cell *matHeaderCellDef> Date départ </th>
    <td mat-cell *matCellDef="let forfait">
<!--      <form #forfaitFormEdition="ngForm" id="forfaitFormDateDepartEdition" (ngSubmit)="forfaitFormEdition.form.valid && onEdit(forfaitFormEdition)">-->
      <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editForfait;" class="input-full-width">
        <input type=text name="selectedForfaitDateDepart" [(ngModel)]="selectedForfait.dateDepart" matInput required minlength="2" maxlength="50"  #selectedForfaitDateDepart="ngModel">
      </mat-form-field>
<!--    </form>-->
      <ng-template #editForfait><span (click)="onSelect(forfait)">{{forfait.dateDepart}}</span></ng-template></td>
  </ng-container>

  <!--DATE RETOUR-->

  <ng-container matColumnDef="dateRetour">
    <th mat-header-cell *matHeaderCellDef> Date retour </th>
    <td mat-cell *matCellDef="let forfait">
<!--      <form #forfaitFormEdition="ngForm" id="forfaitFormDateRetourEdition" (ngSubmit)="forfaitFormEdition.form.valid && onEdit(forfaitFormEdition)">-->
        <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editForfait;" class="input-full-width">
          <input type=text name="selectedForfaitDateRetour" [(ngModel)]="selectedForfait.dateRetour" matInput required minlength="2" maxlength="50"  #selectedForfaitDateRetour="ngModel">
        </mat-form-field>
<!--      </form>-->
      <ng-template #editForfait><span (click)="onSelect(forfait)">{{forfait.dateRetour}}</span></ng-template></td>
  </ng-container>

  <!--PRIX-->
  <ng-container matColumnDef="prix">
    <th mat-header-cell *matHeaderCellDef> Prix </th>
    <td mat-cell *matCellDef="let forfait">
<!--      <form #forfaitFormEdition="ngForm" id="forfaitPrixDestinationEdition" (ngSubmit)="forfaitFormEdition.form.valid && onEdit(forfaitFormEdition)">-->
        <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editForfait;" class="input-full-width">
          <input type=number name="selectedForfaitPrix" [(ngModel)]="selectedForfait.prix" matInput required #nomEdition="ngModel">
<!--          <mat-error *ngIf="forfaitFormEdition.invalid && (forfaitFormEdition.dirty || forfaitFormEdition.touched) && forfaitFormEdition.hasError('required')">La destination est obligatoire.</mat-error>-->
<!--          <mat-error *ngIf="forfaitFormEdition.invalid && (forfaitFormEdition.dirty || forfaitFormEdition.touched) && forfaitFormEdition.hasError('minlength')">La destination doit contenir au moins 2 caractères.</mat-error>-->
<!--          <mat-error *ngIf="forfaitFormEdition.invalid && (forfaitFormEdition.dirty || forfaitFormEdition.touched) && forfaitFormEdition.hasError('maxlength')">La destination doit contenir au maximum 50 caractères.</mat-error>-->
        </mat-form-field>
<!--      </form>-->
      <ng-template #editForfait><span (click)="onSelect(forfait)">{{forfait.prix}}</span></ng-template>
    </td>
  </ng-container>

  <!--RABAIS-->
  <ng-container matColumnDef="rabais">
    <th mat-header-cell *matHeaderCellDef> Rabais </th>
    <td mat-cell *matCellDef="let forfait">
<!--      <form id="forfaitRabaisEdition" (ngSubmit)="forfaitFormEdition.form.valid && onEdit(forfaitFormEdition)">-->
        <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editForfait;" class="input-full-width" id="forfaitRabaisEdition">
          <input type=number name="forfaitRabaisEdition" [(ngModel)]="selectedForfait.rabais" matInput required #forfaitRabaisEdition="ngModel">
          <!--          <mat-error *ngIf="forfaitFormEdition.invalid && (forfaitFormEdition.dirty || forfaitFormEdition.touched) && forfaitFormEdition.hasError('required')">La destination est obligatoire.</mat-error>-->
          <!--          <mat-error *ngIf="forfaitFormEdition.invalid && (forfaitFormEdition.dirty || forfaitFormEdition.touched) && forfaitFormEdition.hasError('minlength')">La destination doit contenir au moins 2 caractères.</mat-error>-->
          <!--          <mat-error *ngIf="forfaitFormEdition.invalid && (forfaitFormEdition.dirty || forfaitFormEdition.touched) && forfaitFormEdition.hasError('maxlength')">La destination doit contenir au maximum 50 caractères.</mat-error>-->
        </mat-form-field>
<!--      </form>-->
      <ng-template #editForfait><span (click)="onSelect(forfait)">{{forfait.rabais}}</span></ng-template></td>
  </ng-container>

<!--EDITION-->

  <ng-container matColumnDef="editer">
    <th mat-header-cell *matHeaderCellDef> Éditer </th>
    <td mat-cell *matCellDef="let forfait">
      <button *ngIf="(selectedForfait && selectedForfait === forfait);else editButton;" form='forfaitFormEdition'
              mat-button><i class="material-icons">done</i></button>
      <ng-template #editButton>
        <form (ngSubmit)="onSelect(forfait)">
          <button mat-button><i class="material-icons">edit</i></button>
        </form>
      </ng-template>
  </ng-container>

  <!--SUPRESSION-->

  <ng-container matColumnDef="supprimer">
    <th mat-header-cell *matHeaderCellDef> Supprimer </th>
    <td mat-cell *matCellDef="let forfait">
      <form (ngSubmit)="onDelete(forfait)">
        <button mat-button ><i class="material-icons">delete</i></button>
      </form>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
  </form>
</section>


