<mat-toolbar class="color-header navigation">
  <a routerLink=''><img src="assets/img/airem-logo.svg" alt="logo AirEm" class="size-logo"></a>

</mat-toolbar>

<input type="checkbox" class="navigation__checkbox" id="navi-toggle">

<label for="navi-toggle" class="navigation__button">
  <span class="navigation__icon">&nbsp;</span>
</label>

<div class="navigation__background">&nbsp;</div>

<nav class="navigation__nav">
  <ul class="navigation__list">
    <li routerLink='' class="navigation__item"><a href='' class="navigation__link">ACCUEIL</a></li>
    <li routerLink='/a-propos' class="navigation__item"><a href='/a-propos' class="navigation__link">À PROPOS</a></li>
    <li routerLink='/meilleures-offres' class="navigation__item"><a href='/meilleures-offres' class="navigation__link">EN VEDETTE</a></li>
    <li routerLink='/rabais' class="navigation__item"><a href='/rabais' class="navigation__link">SOLDES</a></li>
    <li routerLink='/blogue' class="navigation__item"><a href='/blogue' class="navigation__link">BLOGUE</a></li>
    <li routerLink='/administration' class="navigation__item"><a href='/administration' class="navigation__link">ADMINISTRATION</a></li>
  </ul>
</nav>
