<mat-toolbar class="color-header navigation">
  <a routerLink=''><img src="assets/img/airem-logo.svg" alt="logo AirEm" class="size-logo"></a>
  <span class="white">
    <table>
    <tr class="espacement">

    <th routerLink=''><span class="pl-4"><a>ACCUEIL</a></span></th>
    <th routerLink='/a-propos'><span class="pl-4"><a>À PROPOS</a></span></th>
    <th routerLink='/meilleures-offres'><span class="pl-4"><a>EN VEDETTE</a></span></th>
    <th routerLink='/rabais'><span class="pl-4"><a>SOLDES</a></span></th>
    <th routerLink='/blogue'><span class=" pl-4"><a>BLOGUE</a></span></th>
    <th routerLink='/administration'><span class="white pl-5"><a>ADMINISTRATION</a></span></th>
    </tr>
</table>
      </span>
</mat-toolbar>

<!--<input type="checkbox" class="navigation__checkbox" id="navi-toggle">-->

<!--<label for="navi-toggle" class="navigation__button">-->
<!--  <span class="navigation__icon">&nbsp;</span>-->
<!--</label>-->

<!--<div class="navigation__background">&nbsp;</div>-->

<!--<nav class="navigation__nav">-->
<!--  <ul class="navigation__list">-->
<!--    <li routerLink='' class="navigation__item"><a href="#" class="navigation__link"><span>01</span>ACCUEIL</a></li>-->
<!--    <li routerLink='/a-propos' class="navigation__item"><a href="#" class="navigation__link"><span>02</span>À PROPOS</a></li>-->
<!--    <li routerLink='/meilleures-offres' class="navigation__item"><a href="#" class="navigation__link"><span>03</span>EN VEDETTE</a></li>-->
<!--    <li routerLink='/rabais' class="navigation__item"><a href="#" class="navigation__link"><span>04</span>SOLDES</a></li>-->
<!--    <li routerLink='/administration' class="navigation__item"><a href="#" class="navigation__link"><span>05</span>ADMINISTRATION</a></li>-->
<!--  </ul>-->
<!--</nav>-->
