<app-header></app-header>


<mat-toolbar>

  <button mat-flat-button color="primary" type="button" mat-button (click)="drawer.toggle()">
    Trouver un forfait
  </button>

</mat-toolbar>

<mat-drawer-container >

  <mat-drawer #drawer class="sidenav height" mode="side">

<app-formulaire-recherche [(recherche)]="recherche " ></app-formulaire-recherche>
  </mat-drawer>
  <div class="col-8 offset-2 col-md-10 offset-md-1 col-sm-12 col-xs-12 pt-4 mt-4" >
  <app-liste-forfait [forfait]="forfait" [formulaire]="formulaire" [recherche]="recherche"></app-liste-forfait>
  </div>
</mat-drawer-container>


